.MuiAccordion-root:before {
  background-color: rgba(0, 0, 0, 0) !important;
}

li:nth-child(odd) {
  background-color: #eee;
  border-radius: 5px;
}

.MuiIconButton-edgeEnd {
  margin-right: -22px;
}

.MuiAccordionSummary-expandIcon.Mui-expanded {
  transform: rotate(135deg) !important;
  font-size: 200% !important;
  margin-right: -25px;
}

.MuiAccordionSummary-content {
  display: inline-flex !important;
  justify-content: space-between !important;
}

.leftCondominioItens {
  display: inline-flex;
}

.leftCondominioItens h3,
h4 {
  text-align: left;
  padding: 0px 5px 0px 20px;
}

.MuiList-root.MuiList-dense.MuiList-padding {
  padding: 0;
}

.MuiList-root {
  width: 100%;
}

.MuiListItem-root strong {
  margin-right: 30px;
}

.rightCondominioItens {
  display: inline-flex;
  justify-content: space-between;
}

.rightCondominioItens p {
  padding: 1px 5px 1px 5px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  font-size: 17px;
}

.MuiListItemSecondaryAction-root {
  padding-top: 2px;
}

.rightCondominioItens *.EditIcon:hover {
  color: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 4px;
  padding: 0 4px 0 4px;
}

.rightCondominioItens *.DeleteIcon:hover {
  color: #f50057;
  border: 1px solid #f50057;
  border-radius: 4px;
  padding: 0 4px 0 4px;
}

.rightCondominioItens *.ReportIcon:hover {
  color: #1d7e1d;
  border: 1px solid #1d7e1d;
  border-radius: 4px;
  padding: 0 4px 0 4px;
}

#PaganteRegisterLink {
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 25px;
  width: 310px;
}

#CondominioRegisterLink {
  background-color: transparent;
  border-radius: 5px;
  margin-top: 25px;
  width: 350px;
}

#PaganteRegisterLink:hover {
  background-color: #bbb;
}

#CondominioRegisterLink:hover {
  background-color: #bbb;
}
