/* SET THE COLOR OF THE PLUS BUTTON */
#EscolherCondominio .MuiAccordionSummary-expandIcon {
  color: var(--primary-color);
}
/* TURNS PLUS BUTTUN INTO X WHEN EXPANDED */
#EscolherCondominio .MuiAccordionSummary-expandIcon.Mui-expanded {
  transform: rotate(135deg) !important;
  font-size: 200% !important;
  margin-right: -17px;
  color: var(--secondary-color);
}

/* DIFFER THE ROWS ON THE TABLE */
#EscolherCondominio tr:nth-of-type(even) {
  background-color: rgba(190, 190, 190, 0.5);
}

/* SET THE TABLE FONT SIZE REVIEW*/
#EscolherCondominio td {
  font-size: 17px;
}

/* REMOVES ALL THE MARGIN AND PADDING IN THE TABLE CELLS */
#EscolherCondominio td.MuiTableCell-root.MuiTableCell-body {
  margin: auto;
  padding: 0px;
  border: 0;
  height: 35px;
}

/* SET A FIX WIDTH TO THE BUTTONS IN THE TABLE CELLS */
#EscolherCondominio td.MuiTableCell-root.MuiTableCell-body.ReportButtonCell {
  width: 125px;
  min-width: 95px;
}
#EscolherCondominio td.MuiTableCell-root.MuiTableCell-body.EditButtonCell {
  width: 90px;
  min-width: 60px;
}
#EscolherCondominio td.MuiTableCell-root.MuiTableCell-body.DeleteButtonCell {
  width: 95px;
  min-width: 65px;
}

/* PULL THE TABLE CLOSER TO THE TITLE */
#EscolherCondominio .BottomTable {
  margin-top: -13px;
}

/* SET THE TABLE BUTTONS BEHAVE */
#EscolherCondominio td.MuiTableCell-root.MuiTableCell-body.ButtonCell p {
  padding: 2px 2px 4px 2px;
  margin: 0px;
  cursor: pointer;
  line-height: 100%;
}

/* HOVER EFFECT ON THE BUTTONS IN THE TABLE CELLS */
#EscolherCondominio p.EditIcon:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 0px 1px;
}
#EscolherCondominio p.DeleteIcon:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 0px 1px;
}
#EscolherCondominio p.ReportIcon:hover {
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 4px;
  padding: 0px 1px;
}

/* FIX TABLE-HEAD AND TABLE-BODY UNALIGNMENT */
#EscolherCondominio td.MuiTableCell-root.MuiTableCell-body.FixAlignCell {
  width: 29px;
}

/* PUT A PADDING IN THE FIRST CELL */
#EscolherCondominio td.MuiTableCell-root.MuiTableCell-body.FirstCell {
  padding-left: 10px !important;
}

/* SET THE TITLE OF THE TABLE FONT SIZE */
#EscolherCondominio td.MuiTableCell-root.MuiTableCell-body span.Name {
  font-size: 18px;
}

/* FIX SVG ICONS POSITION */
#EscolherCondominio .MuiSvgIcon-root.Ajusted {
  margin-bottom: -5px;
}
#EscolherCondominio .MuiSvgIcon-root.Ajusted2 {
  margin-right: 5px;
}

/* GIVES A GOOD MARGIN TO SCREEN BUTTONS */
#EscolherCondominio *.MarginButton1 {
  margin-top: 10px;
  margin-bottom: 30px;
}
#EscolherCondominio *.MarginButton2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

#EscolherCondominio .space25 {
  height: 25px;
  min-height: 25px;
  max-height: 25px;
}
