#Login {
  margin: 0;
  width: 70%;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* border: 2px solid black; */
}

#Login .PageTitle {
  padding: 3%;
}

#Login .DropdownInput {
  padding: 3%;
}
