#GeneralReportHeader .bold {
  font-weight: 400;
}

#GeneralReportHeader {
  background-color: white;
  border: 2px solid black;
  color: black;
  display: flex;

  margin-top: 10px;
  margin-bottom: 10px;

  height: 120px;
  width: 100 vw;
}

#GeneralReportHeader img {
  width: 116px;
  height: 116px;
}

#GeneralReportHeader #header-right {
  width: 668px;
}

#GeneralReportHeader #header-line1 {
  padding-top: 5px;
  line-height: calc(110px / 3);
  font-size: 30px;
}

#GeneralReportHeader #header-line2 {
  line-height: calc(110px / 3);
  font-size: 20px;
}

#GeneralReportHeader #header-line3 {
  line-height: calc(110px / 3);
  font-size: 20px;
}
