div#containerAgua {
  display: flex !important;
  justify-content: space-around;
}

div#esquerdaAgua {
  display: block !important;
  width: 50%;
}

div#direitaAgua {
  display: block !important;
  width: 50%;
}
