#snackbarSystemUpdate .MuiSnackbarContent-message {
  display: flex;
  line-height: 60px;
  height: 60px;
}

#snackbarSystemUpdate .MuiSnackbarContent-message p {
  color: white;
  font-weight: 600;
  padding: 10px 0px 0px 15px;
  line-height: 25px !important;
}

#snackbarSystemUpdate .MuiSnackbarContent-root {
  background: rgba(68, 85, 102, 0.8) !important;
  border-radius: 5px;
  margin: 0 0 35px -10px;
}
