#GeneralReportHeader .bold {
  font-weight: 400;
}

#IndividualReportHeader {
  background-color: white;
  border: 2px solid var(--report-color);
  color: var(--report-color);

  margin-top: 10px;
  margin-bottom: 10px;

  height: 120px;
  width: 100 vw;
}

#IndividualReportHeader #header-line1 {
  line-height: 50px;
  font-size: 35px;
}

#IndividualReportHeader #header-line2 {
  line-height: 30px;
  font-size: 20px;
}

#IndividualReportHeader #header-line3 {
  line-height: 30px;
  font-size: 20px;
}

#IndividualReportHeader #header-line2 span {
  padding: 0 10px 0 10px;
}
