#relatorioIndividual #duasTabelas {
  display: flex;
}

#relatorioIndividual .MuiTableContainer-root {
  overflow: hidden;
  text-align: center;
  width: 900px !important;
  margin: 0 auto 10px auto;
  padding: 0;
}

#relatorioIndividual .MuiTableRow-head * {
  background-color: var(--report-color);
  color: white !important;
}

#relatorioIndividual .MuiTableRow-root * {
  padding: 1px 8px 1px 8px;
  font-weight: 400;
  font-size: 16px !important;
  color: var(--report-color);
}

#relatorioIndividual .MuiTableRow-root #nome {
  text-align: left !important;
  width: 40% !important;
}

#relatorioIndividual .MuiTableRow-root #valor {
  text-align: right !important;
  width: 10% !important;
}

#relatorioIndividual .MuiTableRow-root #agua {
  text-align: center !important;
  width: 20% !important;
}

#relatorioIndividual #table1 {
  background-color: white;
  border: 2px solid var(--report-color);
}

#relatorioIndividual #table2 {
  margin-left: -2px;
  background-color: white;
  border: 2px solid var(--report-color);
}

#relatorioIndividual #table3 {
  background-color: white;
  border: 2px solid var(--report-color);
  margin-top: 10px;
}
