.footbar {
  height: 45px;
  padding: 5px 0px;
  background-color: #456;
  position: fixed;
  width: 100vw;
  bottom: 0;
}

#left {
  position: absolute;
  left: 5px;
  width: 135px;
}

#right {
  position: absolute;
  right: 5px;
  width: 135px;
}
