#footbar {
  height: 45px;
  padding: 5px 0px;
  background-color: #456;
  position: fixed;
  width: 100vw;
  bottom: 0;
}

#footbar .footerButton {
  min-width: 200px;
}

#footbar #left {
  position: absolute;
  left: 5px;
}

#footbar #right {
  position: absolute;
  right: 5px;
}
