#EscolherBeneficiario .UserInputs {
  width: 300px;
  padding: 10px;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Buttons button {
  width: 140px;
}

.Buttons {
  margin-top: 15px;
}

.Selector * {
  font-size: 20px !important;
}

.MuiNativeSelect-select.MuiNativeSelect-select {
  padding: 8px;
}
