/* .MuiTableContainer-root {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
} */

.MuiTableCell-head {
  /* border-left: 1px solid black !important; */
  /* border-bottom: 1px solid black !important; */
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  font-size: 14px;
}

.MuiTableCell-body {
  /* border-left: 0.5px solid black !important; */
  padding-top: 0 10px 0 10px !important;
}

tr:nth-child(even) {
  background-color: #fff;
}

.MuiTableCell-root.MuiTableCell-body,
.MuiTableCell-root.MuiTableCell-head {
  line-height: 115%;
  height: 1px !important;
  /* padding: 1% !important; */
}

.MuiTableCell-head.ContaEditLink {
  cursor: pointer !important;
  background-color: #ccc !important;
  text-align: center !important;
  max-width: 120px !important;
  min-width: 100px !important;
}

.MuiTableCell-head.ContaTitleCell {
  background-color: #ddd !important;
  text-align: center !important;
  max-width: 120px !important;
  min-width: 100px !important;
}

.MuiTableCell-head.ContaRegisterLink {
  cursor: pointer !important;
  background-color: #00ff00 !important;
  text-align: center !important;
  /* max-width: 50px !important;
  min-width: 50px !important;
  width: 50px !important; */
}

.MuiTableCell-body.ContaCell {
  text-align: center !important;
}

.MuiTableCell-head.ContaCell {
  text-align: center !important;
  max-width: 120px !important;
  min-width: 100px !important;
}
