#relatorioCondominioRegistrar .MuiTableContainer-root {
  text-align: center;
  width: 900px !important;
  margin: 0 auto 0 auto;
  padding: 0;
}
#relatorioCondominioRegistrar .MuiTable-root {
  background-color: white !important;
  border: 2px solid var(--report-color);
}

#relatorioCondominioRegistrar .MuiTable-root * {
  font-size: 18px !important;
  /* font-weight: bolder !important; */
}

#relatorioCondominioRegistrar .MuiTable-root {
  margin-bottom: 10px;
}

#relatorioCondominioRegistrar .Black .MuiTableCell-root {
  background-color: var(--report-color) !important;
  color: white !important;
  font-weight: 600 !important;
  padding-top: 1px !important;
}

#relatorioCondominioRegistrar .Black .MuiTableCell-root {
  margin: 0;
  padding: 0;
}

#relatorioCondominioRegistrar .Linha .MuiTableCell-root {
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--report-color);
}
#relatorioCondominioRegistrar .MuiTableCell-root.col1 {
  padding-left: 10px !important;
  width: 650px !important;
}
#relatorioCondominioRegistrar .MuiTableCell-root.col2 {
  width: 100px !important;
}
#relatorioCondominioRegistrar .MuiTableCell-root.col3 {
  width: 150px !important;
}

#relatorioCondominioRegistrar .MuiTableCell-root.col2 {
  text-align: center;
}

#relatorioCondominioRegistrar .MuiTableCell-root.col3 {
  text-align: center;
}

#relatorioCondominioRegistrar #fundoReservaRow {
  cursor: pointer;
}
