#GeneralReportFooter {
  background-color: white;
  border: 2px solid var(--report-color);
  color: var(--report-color);

  margin-top: 5px;
  margin-bottom: 10px;

  height: 74px;
  width: 100 vw;

  padding: 2px;
}

#GeneralReportFooter #header-line0 {
  line-height: 17px;
  font-size: 14px;
}

#GeneralReportFooter #header-line1 {
  line-height: 17px;
  font-size: 14px;
}

#GeneralReportFooter #header-line2 {
  line-height: 17px;
  font-size: 14px;
}

#GeneralReportFooter #header-line3 {
  line-height: 17px;
  font-size: 14px;
}

#GeneralReportFooter {
  border-radius: 0px 0px 10px 10px;
}
