#relatorioAnual .MuiTableContainer-root {
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 0;
}

#relatorioAnual .MuiTableContainer-root.pdfStyle {
  width: 1600px !important;
}

#relatorioAnual .MuiTableContainer-root.screenStyle {
  min-width: 900px !important;
  max-width: 1600px !important;
}

#relatorioAnual .MuiTable-root {
  background-color: white !important;
  border: 2px solid var(--report-color);
}

#relatorioAnual .MuiTable-root * {
  font-size: 15px !important;
}

#relatorioAnual .MuiTable-root {
  margin-bottom: 10px;
}

#relatorioAnual .Black .MuiTableCell-root {
  background-color: var(--report-color) !important;
  color: white !important;
  font-weight: 600 !important;
  padding-top: 1px !important;
}

#relatorioAnual .Black .MuiTableCell-root {
  margin: 0;
  padding: 0;
}

#relatorioAnual .Linha .MuiTableCell-root {
  margin: 0;
  padding: 0;
  color: var(--report-color);
}

#relatorioAnual .MuiTableCell-root.colInicial {
  max-width: 100px;
  text-align: left;
  padding-left: 10px !important;
}

#relatorioAnual .MuiTableCell-root.colCentral {
  min-width: 80px;
  text-align: center;
}

#relatorioAnual .MuiTableCell-root.colFinal {
  max-width: 100px;
  text-align: right;
  padding-right: 10px !important;
}
