#relatorioGeral .MuiTableContainer-root {
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 0;
}

#relatorioGeral .MuiTableContainer-root.pdfStyle {
  width: 900px !important;
}

/* #relatorioGeral .MuiTableContainer-root.screenStyle {
  padding-left: 1%;
  padding-right: 1%;
} */

#relatorioGeral .MuiTable-root {
  background-color: white !important;
  border: 2px solid var(--report-color);
}

#relatorioGeral .MuiTable-root * {
  font-size: 15px !important;
}

#relatorioGeral .MuiTable-root {
  margin-bottom: 10px;
}

#relatorioGeral .Black .MuiTableCell-root {
  background-color: var(--report-color) !important;
  color: white !important;
  font-weight: 600 !important;
  padding-top: 1px !important;
}

#relatorioGeral .Black .MuiTableCell-root {
  margin: 0;
  padding: 0;
}

#relatorioGeral .Linha .MuiTableCell-root {
  margin: 0;
  padding: 0;
  color: var(--report-color);
}

#relatorioGeral .MuiTableCell-root.col1 {
  padding-left: 10px !important;
  width: 550px !important;
}

#relatorioGeral .MuiTableCell-root.col2 {
  width: 100px !important;
  text-align: center;
}

#relatorioGeral .MuiTableCell-root.col3 {
  width: 100px !important;
  text-align: center;
}

#relatorioGeral .MuiTableCell-root.col4 {
  width: 150px !important;
  text-align: center;
}

#relatorioGeral .MuiTableCell-root.uniqueCol {
  text-align: left;
  padding: 1px 1px 1px 10px;
}
