body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 4rem;
}

.quadrado {
  border: 1px solid black;
  padding: 20px;
}
