* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --report-color: #434148;
  --primary-color: #3f51b5;
  --secondary-color: #f50057;
  --tertiary-color: #1d7e1d;
}

#App {
  text-align: center;
  background-color: #333;
  height: 100vh;
}

#MainContainer {
  height: calc(100vh - 45px);
  /* min-width: 150vw;
  max-width: 150vw;*/
  overflow-y: auto;
  overflow-x: hidden;
  background: rgb(219, 231, 250);
  background: linear-gradient(
    0deg,
    rgba(219, 231, 250, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 0 0 20px 0;
}

#Loading {
  color: #f0f0f0;
  background-color: #333;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.PageTitle {
  padding: 2%;
}

.btn-text-ajusted {
  padding-left: 5px;
}

section {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}

/* TITULO DE TODOS OS DIALOGS */
.MuiDialogTitle-root {
  text-align: center;
  min-width: 500px !important;
}
/* CONTEUDO DE TODOS OS DIALOGS */
.MuiDialogContent-root {
  text-align: center;
  min-width: 500px !important;
}

/* BOTÕES DE TODOS OS DIALOGS IGUALMENTE ESPAÇADOS */
.MuiDialogActions-root {
  justify-content: space-around !important;
}

/* BOTÕES COM LARGURA MÍNIMA */
.MuiButtonBase-root.MuiButton-root {
  min-width: 150px;
}
